@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  color-scheme: light;
  --soft-white: #f2f4f7;
  --soft-lilac: #b1b7c9;
  --soft-sand: #e8e3dc;
  --power-blue: #2f88e0;
  --navy-blue: #2c3e50;
  --soft-blue: #d3e0ea;
  --disabled-grey: #e9e9e9;
  --error-red: #c00000;
  --error-red-dark: #7a0000;
  --disabled-blue: #2f88e025;
  --disabled-navy: #2c3e5015;
  --softest-blue: #d3e0ea25;
  --softest-lilac: #b1b7c930;
  --power-blue-disabled: #cad7e3;
  --default-grey: #787d8b;
  --warning-yellow: #dbd826;

  /* SHADCN */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: var(--navy-blue);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-soft-white: var(--soft-white);
  --color-soft-lilac: var(--soft-lilac);
  --color-soft-sand: var(--soft-sand);
  --color-power-blue: var(--power-blue);
  --color-navy-blue: var(--navy-blue);
  --color-soft-blue: var(--soft-blue);
  --color-disabled-grey: var(--disabled-grey);
  --color-error-red: var(--error-red);
  --color-error-red-dark: var(--error-red-dark);
  --color-warning-yellow: var(--warning-yellow);
  --color-disabled-blue: var(--disabled-blue);
  --color-disabled-navy: var(--disabled-navy);
  --color-softest-blue: var(--softest-blue);
  --color-softest-lilac: var(--softest-lilac);
  --color-power-blue-disabled: var(--power-blue-disabled);
  --color-default-grey: var(--default-grey);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--soft-white);
}

.text-f1 {
  font-size: 3rem; /* 48px */
  letter-spacing: -0.12rem;
  line-height: 3.25rem; /* 52px */
}

.text-f2 {
  font-size: 2rem; /* 32px */
  letter-spacing: -0.04rem;
  line-height: 2.25rem; /* 36px */
}

.text-f3 {
  font-size: 1.5rem; /* 24px */
  letter-spacing: -0.01rem;
  line-height: 1.75rem; /* 28px */
}

.text-f4 {
  font-size: 1.25rem; /* 20px */
  letter-spacing: -0.01rem;
  line-height: 1.5rem; /* 24px */
}

.text-f5 {
  font-size: 1rem; /* 16px */
  letter-spacing: -0.01rem;
  line-height: 1.25rem; /* 20px */
}

.text-f6 {
  font-size: 0.875rem; /* 14px */
  letter-spacing: -0.01rem;
  line-height: 1.125rem; /* 18px */
}

.text-f7 {
  font-size: 0.75rem; /* 12px */
  letter-spacing: -0.01rem;
  line-height: 1rem; /* 16px */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
